<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;}
 body{
    text-align :center;
 }
.user-detail {
    height: auto;
    border: 2px solid #f1f1f1;
    padding: 16px;
    background-color: white;
    width: auto;
        }
input{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;}

button:hover {
  background-color:#3d3c3c;}

div.user-detail{
    margin: auto;
}
body{            
    background: -webkit-gradient(linear, left bottom, right top, from(#08aeea), to(#21f0ff));
    background: -webkit-linear-gradient(bottom left, #08aeea 0%, #46ff21 100%);
    background: -moz-linear-gradient(bottom left, #08aeea 0%, #2194ff 100%);
    background: -o-linear-gradient(bottom left, #08aeea 0%, #21aeff 100%);
    background: linear-gradient(to top right, #08aeea 0%, #61ffb0 100%);
    min-height: 100vh;
    }
h1{
    text-align: center;
}

button.b1{
            font-size:15px;
            width: 45%;
            padding: 15px;
            background-color: #ff1616;
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
        }
button.b2{
            font-size:15px;
            width: 45%;
            padding: 15px;
            background-color: #55ff06;
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
        }
div.Ltext{
    text-align:left;
    font-size: 18px;
}
div.number{
  text-align:right;
}
/* p{
    font-size: 37px;
} */

#menuToggle
{
  display: block;
  position: fixed;
  top: 30px;
  left: 20px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
  text-align: left;
}

#menuToggle a
{
  text-decoration: none;
  color: #413e3e;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #ffffff;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: fixed;
  width: auto;
  height: auto;
  margin: -100px 0 0 -20px;
  padding: 30px;
  padding-top: 140px;
  background: -webkit-gradient(linear, left bottom, right top, from(#08aeea), to(#21f0ff));
  background: -webkit-linear-gradient(bottom left, #08aeea 0%, #46ff21 100%);
  background: -moz-linear-gradient(bottom left, #08aeea 0%, #2194ff 100%);
  background: -o-linear-gradient(bottom left, #08aeea 0%, #21aeff 100%);
  background: linear-gradient(to top right, #08aeea 0%, #61ffb0 100%);
  min-height: 200vh;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 14px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
</style>
</head>
<body>
  
  <div class="user-detail">
    <div class="number">
      <p1>เลขที่ <%=leave_idto%></p>
    </div>
                          <!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--        MIT License        -->
<nav role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />
    
    <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>
    
    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      <a href="/menu"><li>Menu</li></a>
      <a href="/user/leave"><li>ลางาน</li></a>
      <a href="/user/list-history"><li>ดูประวัติการลา</li></a>
      <a href="/admin/list-leave"><li>อนุมัติการลา</li></a>
      <a href="/admin/btn-user-list"><li>ดูข้อมูลพนักงาน</li></a>
      <a href="/admin/register"><li>เพิ่มข้อมูลพนักงาน</li></a>
      <a href="/logout"><li>ออกจากระบบ</li></a>
    </ul>
  </div>
</nav>
    <h1>ประวัติการลา</h1> <br>
          <div class="Ltext">
            <form>
            <p2>ชื่อ : <%=name%> <%=surname%></p>
            <p14>วันที่ลา : <%=leave_date%></p>
            <p14>ถึงวันที่ : <%=to_date%></p>
            <p13>หมายเหตุ : <%=category%> เนื่องจาก <%=cause%></p> <br>
            <p>*จำนวนวันที่ลาไปทั้งหมด*</p>
            <p11>#ลากิจ <%=on_leave%> วัน (7 วัน)</p>
            <p11>#ลาป่วย <%=sick_leave%> วัน (30 วัน)</p>
            <p11>#ลาพักร้อน <%=Vacation%> วัน (7 วัน)</p>
            <p12>#ลาคลอด <%=Maternity_leave%> วัน (90 วัน)</p>
            <p11>#ขาดงาน <%=Absent%> วัน (<%=Absent%> วัน)</p> <br>
            </form>
             </div>  
        </div>
        <br>

  

<script>    

</script>

</body>
</html>